.container-fluid {
    padding-left: 250px !important;
    padding: 0;
    max-width: 100%;
}
body{
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}
* {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin: 0;
  }
  html{
    height: 100%;
  }

/* NAVBAR STYLING */
nav{
    display: flex !important; 
    align-items: center;
    min-height: 8vh; 
    background-color: rgb(255, 245, 234); 
    font-family: 'Poppins', sans-serif;
    border-bottom: 3px solid rgb(41, 5, 97);
}

.logo{
    color: rgb(41, 5, 97); 
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    padding-right: 200px;
}

.nav-links {
    display: flex; 
    justify-content: space-around; 
}

.nav-links li{
    list-style: none;
}

.nav-links a{ 
    color: rgb(41, 5, 97);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}
.burger{
    display: none;
}
.burger div{ 
    width: 20px;
    height: 3px;
    background-color: rgb(41, 5, 97);
    margin: 4px;
    transition: all 0.3s ease;
    text-align: right;
}
nav li{
    list-style: none;
}
nav a:hover {
    font-size: 25px;
    transition: all .3s ease-in-out;
    text-decoration: none;
}
/* Navbar Media Queries */
@media screen and (min-width: 951px){
      /* Navbar Full Screen Styling */
    .logo{display: none;}
    nav{
        background-color: rgb(255, 245, 234);
        display: flex;
        width: 250px;
        height: 100% !important;
        flex-direction: column;
        text-align: center;
        border-right: 3px solid rgb(41, 5, 97);
        border-bottom: none !important;
        font-family: 'Ropa Sans', sans-serif;
        letter-spacing: 4px;
        line-height: 60px;
        position: fixed;
        padding-top: 7%;
        overflow: scroll;
        font-size: 30px !important;
    }
    .img-profile{ 
        max-width: 9.4rem;
        max-height: 12rem;
        border: .4rem solid rgb(41, 5, 97);
        text-align: center;
    }
    .nav-links{
        list-style: none;
        display: block;
        padding: 0 !important;
        margin-bottom: 6px;
    }
    .nav-links a{
        color: rgb(41, 5, 97);
        font-size: 30px;
    }
   .link:hover, .icons a:hover{
        font-size: 50px !important;
        transition: all .3s ease-in-out;
        text-decoration: none;
    }
    .icons{
        color: rgb(41, 5, 97) !important;
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media screen and (max-width: 950px){
    body{
        overflow-x: hidden;
    }
    .container-fluid{
        margin-top: 50px;
        padding-left: 0px !important;
        margin-left: 0px !important;
    }
    nav{
        flex-wrap: wrap;
        padding: 1.5rem 1rem; 
        justify-content: space-between;
        z-index: 3;
        position: fixed;
        width: 100%;
        background-color: rgb(255, 245, 234);
        top: 0;
    }
    .logo{
        text-transform: capitalize;
    }
    .nav-links{
        z-index: 5;
        position: absolute;
        justify-content: space-around;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(255, 245, 234); 
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        text-transform: uppercase;
        font-weight: bold;
        width: 300px;
    }
    .nav-links li{
        opacity: 0;
        display: block;
        width: 100%;
        text-align: center;
    }
    .nav-links a {
        display: inline-block;
    }
    .burger{
        display: block;
        cursor: pointer;
        z-index: 6;
    }
    .container-fluid {margin-left: 50px;}
    .img-profile {display: none;}
    .icons{
        display: none;
    }
}

.nav-active{
    transform: translateX(0%);
    transition: transform 0.3s ease-in;
}

@media screen and (max-width: 505px){
    .logo{
        display: none;
    }
    .nav-active{
        transform: translateY(0%);
    }
    .nav-links{
        opacity: 1;
        width: 100%;
    }
    #contact-info{
        font-size: 32px !important;
        line-height: 40px;
    }
    #number{
        font-size: 30px !important;
    }
    a#linked, a#git, #bar{
        font-size: 32px !important;
    }
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transfrom: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

div {
    /* width: 100%; */
    height: 100%;
}

/* Background Scroll Styling */
div#intro{
    height: 100%;
    background: url('https://res.cloudinary.com/dsxuuory9/image/upload/v1588318543/portfolio/portfolio_background_m4w3iy.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
section#about{
    background-size: cover;
}
section{
    background-size: cover;
    min-height: 100%;
    max-height: fit-content;
}

/* Intro div Styling */
#intro h1{
    font-family: 'Oswald', sans-serif; 
    padding-top: 15%;
    padding-left: 12%;
    color: rgb(44, 241, 255);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 75px !important;
    text-shadow: -1px 0 rgb(41, 5, 97), 0 1px rgb(41, 5, 97), 1px 0 rgb(41, 5, 97), 0 -1px rgb(41, 5, 97);
}
#intro h1::first-letter {
    font-size: 120%;
}
#intro h1 .last::first-letter {
    font-size: 120% !important;
}
#intro span {
    display: inline-block;
    color:  rgb(44, 241, 255);
}
#intro .subheading {
    padding-left: 15%;
    color:   rgb(44, 241, 255);
    font-size: 70px;
}
#intro .fab{
    padding-right: 55px !important;
    text-shadow: -1px 0 rgb(41, 5, 97), 0 1px rgb(41, 5, 97), 1px 0 rgb(41, 5, 97), 0 -1px rgb(41, 5, 97);
}
a.social{
    color: rgb(44, 241, 255);
}
a.social:hover{
    font-size: 85px;
    transition: .3s ease-in-out
}
/* About Section Styling */
#about, #skills{
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: rgb(255, 245, 234);
    padding-right: 45px;
}
#code-pic{
    width: 800px;
    height: 450px;
    float: right;
    top: 0;
    padding-left: 20px;
    shape-outside: ellipse();
}
#about-header, #skills-header{
    padding-left: 75px;
    font-family: 'Oswald', sans-serif;
    color: rgb(41, 5, 97);
    font-weight: bolder;
    font-size: 50px;
    letter-spacing: 3px;
    padding-bottom: 20px;
    text-transform: uppercase;
}
#about-text, .skills-text{
    padding-left: 40px;
    bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(41, 5, 97);
    font-size: 24px;
    letter-spacing: 1px;
    padding-bottom: 70px;
}
.skills-text{
    font-size: 30px !important;
    line-height: 65px;
}
/* Project Section Styling */
#projects{
    padding-top: 70px;
    padding-bottom: 70px;
    background: url('https://res.cloudinary.com/dsxuuory9/image/upload/v1588318543/portfolio/portfolio_background_m4w3iy.jpg') no-repeat center center fixed; 
    background-size: cover;
}
#projects-header, #contact-header{
    font-family: 'Oswald', sans-serif; 
    color: rgb(255, 245, 234);
    text-transform: uppercase;
    font-size: 55px;
    text-shadow: -1px 0 rgb(41, 5, 97), 0 1px rgb(41, 5, 97), 1px 0 rgb(41, 5, 97), 0 -1px rgb(41, 5, 97);
    padding-left: 25%;
    letter-spacing: 3px;
    font-weight: bolder;
}
.projRow{
    margin-left: auto;
    margin-right:auto;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
}
.pro{
    width: 300px;
    height: 360px;
    background-color: rgb(255, 245, 234, .95);
    border: 2px solid rgb(41, 5, 97);
    border-radius: 8px;
}
.projMod{
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 40px;
}
.pro:hover{
    width: 320px;
    height: 380px;
    border: 5px solid rgb(235, 221, 207);
}
.projPic{
    width: 100%;
    height: 280px;
    border-bottom: 2px solid rgb(41, 5, 97);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.projText{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    color: rgb(41, 5, 97);
    font-size: 27px;
    letter-spacing: 4px;
    text-align: center;
    justify-content: center;
    padding-top: 15px;
}
.proModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11; /* Sit on top */
    left: auto;
    right: auto;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .proModal-content {
    background-color: rgb(255, 245, 234);
    margin-top: 8% !important;
    margin-left: 23%;
    border: 1px solid rgb(41, 5, 97);
    width: 470px;
    height: 550px;
    border-radius: 10px;
  }
  .projMod:hover{
    text-decoration: none;
 }
  .modal-header{
    background-color: rgb(41, 5, 97);
    color: rgb(255, 245, 234);
    width: 100%;
    height: 70px;
    float: left;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 35px !important;
    letter-spacing: 4px;
    margin-bottom: 20px;
}
.proj-title{
    padding-left: 100px;
}
.proj-title-long{
    padding-left: 35px;
}
.proj-info{
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(41, 5, 97);
    font-size: 22px;
    letter-spacing: 1px;
}
.proj-close {
    color: rgb(255, 245, 234);
    float: right !important;
    padding-right: 5%;
    font-size: 45px;
    font-weight: bold;
  }
.proj-close:hover,
.proj-close:focus {
    text-decoration: none;
    cursor: pointer;
    font-size: 50px;
  }

/* skills styling */
#skills{
    padding-left: 40px;
    padding-bottom: 200px;
}


/* contact styling */
#contact{
    padding-top: 95px;
    padding-bottom: 280px;
    background: url('https://res.cloudinary.com/dsxuuory9/image/upload/v1588318543/portfolio/portfolio_background_m4w3iy.jpg') no-repeat center center fixed; 
    background-size: cover;
}
#contact-info{
    list-style-type: none;
    font-family: 'Oswald', sans-serif; 
    color: rgb(255, 245, 234);
    /* text-transform: uppercase; */
    font-size: 42px;
    text-shadow: -3px 0 rgb(41, 5, 97), 0 1px rgb(41, 5, 97), 1px 0 rgb(41, 5, 97), 0 -1px rgb(41, 5, 97);
    padding-top: 55px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 60px;
}
#number{
    font-size: 38px;
}
#contact-email a{
    color: rgb(255, 245, 234) !important;
    text-decoration: underline;
    text-transform: capitalize !important;
}
#com{
    text-transform: lowercase !important;
}
a#linked, a#git, #bar{
    text-decoration: none;
    text-transform: capitalize;
    color: rgb(255, 245, 234);
    display: inline;
    text-decoration: underline;
    font-size: 38px;
}
#bar{
    font-size: 40px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none !important;
}
a#linked:hover, a#git:hover, #contact-email:hover{
    font-size: 50px;
    transition: all .3s ease-in-out;
    text-decoration: underline;
    color: rgb(255, 245, 234) !important;
}
/* resume styling */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    left: auto;
    right: auto;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin-top: 3% !important;
    margin-bottom: 3% !important;
    margin: auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 85%; /* Could be more or less, depending on screen size */
    height: 90%;
    display: block !important;
    justify-content: center;
    text-align: center;
  }
  .modal-title{
    padding-bottom: 5px;
    padding-left: 15%;
    float: left;
    text-transform: uppercase;
    display: inline;
}
  .close {
    color: rgb(159, 156, 156);
    float: right;
    padding-right: 10%;
    font-size: 35px;
    font-weight: bold;
    display: inline;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  iframe{
      height: 95%;
      width: 90%;
      justify-content: center;
  }
  