.container-fluid {
    padding-left: 250px !important;
    padding: 0;
    max-width: 100%;
}

body{
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

* {
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    margin: 0;
  }
  
  html{
    height: 100%;
  }

/* Navbar Full Screen Styling */
nav{
    background-color: rgb(254, 248, 242);
    display: flex;
    width: 250px;
    height: 100% !important;
    flex-direction: column;
    text-align: center;
    border-right: 3px solid rgb(41, 5, 97);
    font-family: 'Ropa Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 60px;
    position: fixed;
    padding-top: 12%;
}
.nav-links{
    list-style: none;
    display: block;
    padding: 0 !important;
    margin-bottom: 6px;
}
.nav-links a{
    color: rgb(41, 5, 97);
}
.nav-links a:hover, .icons a:hover{
    font-size: 50px;
    transition: all .3s ease-in-out;
    text-decoration: none;
}
.icons{
    color: rgb(41, 5, 97) !important;
    padding-right: 15px;
    padding-left: 15px;
}

/* Navbar Media Queries */
@media screen and (min-width: 951px){
    .logo{display: none;}
}

div {
    width: 100%;
    height: 100%;
}

/* Background Scroll Styling */
div#intro{
    padding-bottom: 150px;
    height: 100%;
    background: url('https://res.cloudinary.com/dsxuuory9/image/upload/v1588318543/portfolio/portfolio_background_m4w3iy.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div#about{
    /* background-image: url("http://i.imgur.com/VWYl1EC.jpg"); */
    background-size: cover;
}


/* Intro div Styling */
#intro h1 {
    font-family: 'Oswald', sans-serif; 
    padding-top: 12%;
    padding-left: 7%;
    color: rgb(44, 241, 255);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 75px !important;
    text-shadow: -1px 0 rgb(41, 5, 97), 0 1px rgb(41, 5, 97), 1px 0 rgb(41, 5, 97), 0 -1px rgb(41, 5, 97);
}
#intro h1::first-letter {
    font-size: 120%;
}
#intro h1 .last::first-letter {
    font-size: 120% !important;
}
#intro span {
    display: inline-block;
    color:  rgb(44, 241, 255);
}
#intro .subheading {
    padding-left: 15%;
    color:   rgb(44, 241, 255);
    font-size: 70px;
}
#intro .fab{
    padding-right: 55px !important;
    text-shadow: -1px 0 rgb(41, 5, 97), 0 1px rgb(41, 5, 97), 1px 0 rgb(41, 5, 97), 0 -1px rgb(41, 5, 97);
}
a.social{
    color: rgb(44, 241, 255);
}
a.social:hover{
    font-size: 85px;
    transition: .3s ease-in-out
}
/* About Section Styling */
#about{
    padding-top: 150px;
}
#about-pic{
    text-align: center;
    top: 0;
    float: right;
    width: ;
    /* display: inline block; */
}
#about-text{
    padding-left: 40px;
    bottom: 0;
    font-family: 'Ropa Sans', sans-serif;
    color: rgb(41, 5, 97);
    font-size: 20px;
    /* display: inline block; */
    float: left;
}

