.container-fluid {
    padding-left: 250px !important;
    padding: 0;
    max-width: 100%;
}

body{
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar Full Screen Styling */
nav{
    background-color: rgb(254, 248, 242);
    display: flex;
    width: 250px;
    height: 100% !important;
    flex-direction: column;
    text-align: center;
    border-right: 3px solid rgb(41, 5, 97);
    font-family: 'Ropa Sans', sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 60px;
    position: fixed;
    padding-top: 12%;
}
.nav-links{
    list-style: none;
    display: block;
    padding: 0 !important;
    margin-bottom: 6px;
}
.nav-links a{
    color: rgb(41, 5, 97);
}
.icons{
    color: rgb(41, 5, 97) !important;
    padding-right: 9px;
    padding-left: 9px;
}

/* Navbar Media Queries */
@media screen and (min-width: 951px){
    .logo{display: none;}
}

/* Intro Section Styling */
#intro {
    padding-bottom: 150px;
    height: 800px;
}
#intro h1 {
    font-family: 'Oswald', sans-serif; 
    padding-top: 12%;
    padding-left: 7%;
    color: rgb(44, 241, 255);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 75px !important;
}
#intro h1::first-letter {
    font-size: 120%;
}
#intro h1 .last::first-letter {
    font-size: 120% !important;
}
#intro span {
    display: inline-block;
    color:  rgb(44, 241, 255);
}
#intro .subheading {
    padding-left: 18%;
    color:   rgb(44, 241, 255);;
    font-size: 70px;
}
#intro .fab{
    padding-right: 15px !important;
}


/* About Section Styling */
.col-6{
    text-align: center;
}